<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

<bean id="student" class="ex05.aop.Student"/>
<bean id="salaryman" class="ex05.aop.Salaryman"/>
<bean id="log" class="ex05.aop.LoggingAdvice"/>

<aop:config>
<aop:aspect id="aspect" ref="log">
<aop:pointcut expression="execution(public void ex05.aop.*.*info(..))" id="pointcut"/>
<aop:around method="around" pointcut-ref="pointcut"/>


</aop:aspect>
</aop:config>
</beans>
