<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lib.book.scheduled.BookScheduledDAO">
	<update id="rentservationAutoReturn" statementType="CALLABLE">
	 { CALL proc_rentservation_auto_return() }
	</update>
	
	<update id="rentStop" statementType="CALLABLE">
	 { CALL proc_rentstop() }
	</update>
	
	<update id="rentAvailable" statementType="CALLABLE">
	 { CALL proc_rent_available() }
	</update>
</mapper>