<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="test.test2.model.FacilitiesInspectionDAO">

 
  
  <!-- Facilities_Inspection List -->
  <select id="facinselect" parameterType="int" resultType="test.test2.model.FacilitiesInspectionDTO">
  <![CDATA[
select FacIn_serialnum ,                         
FacIn_name ,    
to_char(FacIn_INSPECTION_DATE,'yyyy"년"mm"월"DD"일"') FacIn_INSPECTION_DATE,   
facin_address,
to_char(FacIn_INSPECTION_DUE_DATE,'yyyy"년"MM"월"DD"일"') FacIn_INSPECTION_DUE_DATE , trunc((FacIn_INSPECTION_DUE_DATE-FacIn_INSPECTION_DATE),0) RemainingTime from Facilities_inspection

  ]]>
  
  </select>
  
  <select id="facintotalcount"  resultType="int">
	  select FacIn_serialnum from Facilities_inspection
  </select>
  
</mapper>