<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 

<mapper namespace="test.test2.model.TestDao">
<resultMap type="java.util.HashMap" id="procResultMap1"></resultMap>
 

<select id="TestList" resultType="Map">

select * from test

</select>

 <select id="selectprocedure" statementType="CALLABLE" resultType="Map">
 {
 CALL TEST_SELECTPROC(#{result, jdbcType=CURSOR, javaType=java.sql.ResultSet, resultMap=procResultMap1, mode=OUT})
 }
 </select>
 
 <!--  <select id="selectprocedure2" statementType="CALLABLE" resultType="Map">
 {
 CALL TEST_SELECTPROC()
 }
 </select> 안됨-->
	<insert id="insert" parameterType="map">
	insert into how values(to_date(#{date} , 'yyyymm' ))
	</insert> 
 <select id="callable" statementType="CALLABLE" resultType="map">
{
CALL howhow(#{result, jdbcType=CURSOR, javaType=java.sql.ResultSet, resultMap=procResultMap1, mode=OUT}
		<!-- 	,#{result2, jdbcType=INTEGER, javaType=java.sql.ResultSet, resultMap=procResultMap1, mode=OUT} -->
			)
}
</select> 
</mapper>