<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="test.test.test.TestDao">

 
  <select id="AA" resultType="map">
  	select * from test2
  </select>
  
  <insert id="insertAA">
   insert into test22 values(2)
   <selectKey resultType="int" keyProperty="count" order="BEFORE">
        SELECT count(*) from test22
    </selectKey> 
    
     
	<if test="count lt 3">
	insert into test22 values(3333333333333333)
	</if>

	<if test="count gte 3">
	insert into test22 values(22222222222222)
	</if>


  </insert>
</mapper>